{% extends 'books/index.html.twig' %}

{% block breadcrambs %}
    {% include 'books/breadcrambs_category.html.twig' %}
{% endblock %}

{% block js %}
    <script src="{{ asset('bootstrap/js/books.js') }}"></script>
    <script>category = {{ category.getId() }};</script>
{% endblock %}