{% extends 'base.html.twig' %}

{% block js %}
    <script src="{{ asset('bootstrap/js/books.js') }}"></script>
{% endblock %}

{% block page_header %}
<!-- Page Header -->
    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-md-10">
                    <ul class="page-header-breadcrumb">
                        {% block breadcrambs %}<li><a href="/">Home</a></li>{% endblock %}
                    </ul>
                    <div id="mainTitle">{% include 'books/title.html.twig' %}</div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Page Header -->
{% endblock %}


{% block body %}
    <!-- Page Body -->
    <!-- section -->
    <div class="section">
        <!-- container -->
        <div class="container" id="listOfBooks">
            <!-- row -->
            {% include 'books/rows.html.twig' %}
        </div>
    </div>
    <!-- /Page Body -->
{% endblock %}

