<div class="row" >
    <div class="col-md-12">
        <div class="row">
            {% for item in pagination %}
                <!-- post -->
                <div class="col-md-4">
                    <div class="post post-row">
                        <a data-id="{{ item.getId()}}" class="openBookInfo post-img" href="/book/{{ item.getId() }}"><img src="{{ item.getImage() }}" alt=""></a>
                        <div class="post-body">
                            <div class="post-meta">
                                <span class="post-date">{{ item.getAuthorString() }}</span><br/>
                                {% for category in item.getCategories()%}
                                    <a data-id="{{ category.getId() }}" class="buttonCategory post-category cat-{{ category.getId() % 20 }}" href="/books/category/{{ category.getId() }}">{{ category.getName() }}</a>
                                {% endfor %}

                            </div>
                            <h3 class="post-title"><a data-id="{{ item.getId()}}" class="openBookInfo" href="/book/{{ item.getId() }}">{{ item.getTitle() }}</a></h3>
                            <p>{{ item.getShortDescription() }}</p>
                        </div>
                    </div>
                </div>
                <!-- /post -->
            {% endfor %}
        </div>
    </div>
</div>
{# display navigation #}
<div class="row">
    <div class="col-md-12">
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
</div>