<h3>
{% if search %}
    According to your request {% if category is defined %}in the category: "{{ category.name }}"{% endif %} found: {{ pagination.getTotalItemCount }} books
{% elseif category is defined %}
    In the category: "{{ category.name }}" found {{ pagination.getTotalItemCount }} books
{% else %}
    Total, in the library found {{ pagination.getTotalItemCount }} books
{% endif %}
</h3>
{% if errors is not empty %}
    <div class="error-msg">
        {% for error in errors %}
            {{ error }}<br/>
        {% endfor %}
    </div>
{% endif %}