{% extends 'base.html.twig' %}

{% block search_form_link %}/{% endblock %}

{% block page_header %}
    <!-- Page Header -->
    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-md-10">
                    <ul class="page-header-breadcrumb">
                        <li><a href="/">Home</a></li>
                        <li>About Me</li>
                    </ul>
                    <h2>About Me</h2>
                </div>
            </div>
        </div>
    </div>
    <!-- /Page Header -->
{% endblock %}

{% block body %}
    <!-- Page Body -->
    <!-- section -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row page-about">
                <div class="col-md-12">
                    <div class="section-row">
                        <p>My name is Oksana Kukina. I'm a software developer. I graduated from Pavlodar State University with a specialty in Programming and software.
                            My experience as PHP developer is more than 8 years.</p>
                    </div>
                    <div class="row section-row">
                        <div class="col-md-3">
                            <figure class="figure-img">
                                <img class="img-responsive" src="{{ asset('bootstrap/img/me.jpg') }}" alt="">
                            </figure>
                        </div>
                        <div class="col-md-6">
                            <h3>My experience</h3>
                            <p>I developed different types of software: </p>
                            <ul class="list-style">
                                <li><p>little websites,</p></li>
                                <li><p>server-side for mobile application,</p></li>
                                <li><p>high-load projects (huge database, high attendance),</p></li>
                                <li><p>system for internal use.</p></li>
                            </ul>
                            <p>For development I usually use PHP and technologies such as:</p>
                            <ul class="list-style">
                                <li><p>MVC Frameworks (Symfony, Yii, CakePHP and Zend)</p></li>
                                <li><p>databases - PostgreSql, MySql (also I work with Firebird and Visual FoxPro)</p></li>
                                <li><p>worked with Doctrine to creating database and classes for using it.</p></li>
                            </ul>
                            <p>I worked with different tools such as: </p>
                            <ul class="list-style">
                                <li><p>RabbitMq as queue for import data to another service</p></li>
                                <li><p>PHPDaemon helped us for made real time schedule page without sending a request</p></li>
                                <li><p>Sphinx used to search in high-load project</p></li>
                                <li><p>Memcached for storing data that don’t change very often</p></li>
                                <li><p>SVN and GIT</p></li>
                            </ul>
                            <p>I prefer using Linux. I like simplicity of installation and configuration any applications and tools by means of command line.</p>
                        </div>
                    </div>
                    <div class="section-row">
                        <h3>My personal qualities and character</h3>
                        <p>I have a technical-mind-set. I really enjoy programming.</p>
                        <p>I write a good quality code with documentation and testing.</p>
                        <p>I’m excellent at detecting and fixing problems.</p>
                        <p>I am a responsible person. I always do my work on time (if I have a realistic deadline, of course).</p>
                        <p>As a team-leader I have good planning skills, I can distribute tasks in the team and assist to complete them on time.</p>
                        <p>I prefer working in a team, because we can make joint decisions and share our experience.</p>
                        <p>In my spare time I learn languages, read books. Also I like knitting and cross-stitching. :)</p>
                    </div>
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /section -->
    <!-- /Page Body -->
{% endblock %}
