{% extends 'base.html.twig' %}

{% block search_form_link %}/{% endblock %}

{% block page_header %}
<!-- Page Header -->
    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-md-10">
                    <ul class="page-header-breadcrumb">
                        <li><a href="/">Home</a></li>
                        <li>"{{ book.getTitle() }}" by {{ book.getAuthorString() }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- /Page Header -->
{% endblock %}


{% block body %}
<!-- Page Body -->
    <!-- section -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-md-9">
                    <div class="row">
                        <!-- book -->
                        {% include 'default/row.html.twig' %}
                        <!-- /book -->
                    </div>
                    <div class="row">
                        {% if otherBooks|length > 1 %}
                        <div class="section-title">
                            <h3>Other book by this author</h3>
                        </div>
                        {% endif %}
                        {% for item in otherBooks %}
                            {% if item.getId() != book.getId() %}
                                <!-- other book -->
                                <div class="post little-post col-md-6">
                                    <div class="post-row">
                                        <div class="col-md-4 post-img">
                                            <a class="post-img" href="/book/{{ item.getId() }}"><img src="{{ item.getImage() }}" alt=""></a>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="post-body">
                                                <div class="post-meta">
                                                    <span class="post-date">{{ item.getAuthorString() }}</span><br/>
                                                    {% for category in item.getCategories()%}
                                                        <a class="post-category cat-{{ category.getId() % 20 }}" href="/books/category/{{ category.getId() }}">{{ category.getName() }}</a>
                                                    {% endfor %}

                                                </div>
                                                <h3 class="post-title"><a href="/book/{{ item.getId() }}">{{ item.getTitle() }}</a></h3>
                                                <p>{{ item.getShortDescription() }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /other book -->
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>

                <div class="col-md-3">
                    <!-- categories -->
                    <div class="aside-widget categories">
                        <div class="section-title">
                            <h2>Categories</h2>
                        </div>
                        <div class="category-widget">
                            <ul>
                                {% for category in allCategories %}
                                    <li><a href="/books/category/{{ category.id }}" class="cat-{{ category.id % 20 }}">{{ category.name }}<span>{{ category.cnt }}</span></a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <!-- /categories -->
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /section -->
<!-- /Page Body -->
{% endblock %}
