<div class="post col-md-12">
    <div class="row section-row book">
        <div class="col-md-3 post-img">
            <img src="{{ book.getImage() }}" alt="">
            <div class="moreInfo" hidden="hidden"><a target="_blank" href="/book/{{ book.getId() }}">More info...</a></div>
        </div>
        <div class="col-md-9">
            <div class="post-meta">
                {% for category in book.getCategories() %}
                    <a data-id="{{ category.getId() }}" class="buttonCategory post-category cat-{{ category.getId() % 20 }}" href="/books/category/{{ category.getId() }}">{{ category.getName() }}</a>
                {% endfor %}
                <span class="post-date">{{ book.getPublisher() }} {{ book.getPublisherDate() }}</span>
            </div>
            <h1 class="post-author">{{ book.getAuthorString() }}</h1>
            <h2 class="post-title">{{ book.getTitle() }}</h2>
            <p>{{ book.getDescription() }}</p>
        </div>
    </div>
</div>