<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Library</title>

    <!-- Bootstrap -->
    <link type="text/css" rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.min.css') }}"/>

    <!-- Font Awesome Icon -->
    <link rel="stylesheet" href="{{ asset('bootstrap/css/font-awesome.min.css') }}">

    <!-- Custom stlylesheet -->
    <link type="text/css" rel="stylesheet" href="{{ asset('bootstrap/css/style.css') }}"/>

    <!-- JQuery UI -->
    <link href="{{ asset('jquery-ui/jquery-ui.css') }}" rel="stylesheet">
</head>


<body>
    <!-- Header -->
    <header id="header">
        <!-- Nav -->
        <div id="nav">
            <!-- Main Nav -->
            <div id="nav-fixed">
                <div class="container container-logo">
                    <!-- logo -->
                    <div class="nav-logo">
                        <a href="/" class="logo"><img src="{{ asset('bootstrap/img/logo.jpg') }}" alt=""></a>
                    </div>
                    <!-- /logo -->

                    <!-- nav -->
                    <ul class="nav-menu nav navbar-nav">
                        {% for category in topCategories %}
                            <li class="cat-{{ category.getId() % 20 }}">
                                <a data-id="{{ category.getId() }}" class="buttonCategory" href="/books/category/{{ category.getId() }}">{{ category.getName() }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                    <!-- /nav -->

                    <!-- search & aside toggle -->
                    <div class="nav-btns">
                        <button class="search-btn"><i class="fa fa-search"></i></button>

                        <div class="search-form">
                            <form id="searchForm" action="{% block search_form_link %}{% endblock %}" method="post">
                                <input name="search" value="1" type="hidden"/>
                                <input id="searchByTitle" class="search-input" type="text" name="by_title" placeholder="Search by title ...">
                                <input id="searchByAuthor" class="search-input" type="text" name="by_author" placeholder="Search by author ...">
                                <input class="primary-button" name="submit" type="submit" value="Search">
                            </form>
                            <button class="search-close"><i class="fa fa-times"></i></button>
                        </div>

                    </div>
                    <!-- /search & aside toggle -->
                </div>
            </div>
            <!-- /Main Nav -->
        </div>
        <!-- /Nav -->
        {% block page_header %}{% endblock %}
    </header>
    <!-- /Header -->

    <!-- Page Body -->
    {% block body %}{% endblock %}
    <!-- /Page Body -->

    <!-- Footer -->
    <footer id="footer">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-md-9">
                    <div class="footer-widget">
                        Software Developer: Oksana Kukina
                        <div class="footer-copyright">
                                    <span>&copy; <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></span>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="footer-widget">
                                <ul class="footer-links">
                                    <li><a href="/about">About Me</a></li>
                                    <li><a href="https://docs.google.com/document/d/1Pmrcr27NmaN9kqOtMKavG5tfYB2esyeHVwqNroUdUhs/edit?usp=sharing" target="_blank">My CV</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </footer>
    <!-- /Footer -->
    <!-- jQuery Plugins -->
    <script src="{{ asset('bootstrap/js/jquery.min.js') }}"></script>
    <script src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bootstrap/js/main.js') }}"></script>
    <script src="{{ asset('jquery-ui/external/jquery/jquery.js') }}"></script>
    <script src="{{ asset('jquery-ui/jquery-ui.js') }}"></script>
    {% block js %}{% endblock %}
    <div id="dialog-message"></div>
</body>